@font-face {
    font-family: "Advent Pro Light";
    src: url('/content/Fonts/Advent Pro/AdventPro-Light.ttf');
}

@font-face {
    font-family: "ArchivoNarrow Regular";
    src: url('/content/Fonts/Archivo Narrow/ArchivoNarrow-Regular.ttf');
}
@font-face {
    font-family: "Barlow Light";
    src: url('/content/Fonts/Barlow/Barlow-Light.ttf');
}
@font-face {
    font-family: "Buda Light";
    src: url('/content/Fonts/Buda/Buda-Light.ttf');
}
@font-face {
    font-family: "Alegreya Regular";
    src: url('/content/Fonts/Alegreya/Alegreya-Regular.ttf');
}
@font-face {
    font-family: "Courgette Regular";
    src: url('/content/Fonts/Courgette/Courgette-Regular.ttf');
}

@font-face{
    font-family: "Knewave Regular";
    src: url('/content/Fonts/Knewave/Knewave-Regular.ttf')
}

*{
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body{
    background-color: #f5f5f5;
}
/* Header Component Style Begin */
div.logo {
    line-height: 50px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #eba622;
    font-family: 'Knewave Regular';
    letter-spacing: 0.08em;
    font-weight: 400;
    font-size: 2em;
}

a.brand {
    color: #eba622;
    text-decoration: none;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 50px;
    background: #25252500;
    transition: all 0.5s ease;
    z-index: 11;
}

nav ul {
    line-height: 50px;
    list-style: none;
    overflow: hidden;
    color:  #eba622;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    font-weight: 200;
}
.opaq{
    background-color:  #050505e8;
}
nav ul li {
    display: inline-block;
    padding: 16px 40px;;
}

nav ul li a {
    text-decoration: none;
    color:  #eba622;
    font-size: 16px;
    font-family: 'ArchivoNarrow Regular';
    letter-spacing: 0.08em;
}
/* Header component Style End */

/* ---------------------------------------- */

/* Footer componenet style begin */
section.footer{
    width: 100%;
    height: 80px;
    background-color: #161616;
    display: flex;
    justify-content: center;
    /* align horizontal */
    align-items: center;
}
.footercontainer a{
    text-decoration: none;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 1.4em;
}
.innericon{
    color: #eba622;
}
/* Footer componenet style end */

/* ---------------------------------------- */

/* Welcome component Style Begin */
section.welcome {
    width: 100%;
    height: 100vh;
    min-height: 800px;
    background-image: url('/content/images/restaurant-691397_1920.jpg');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    /* align horizontal */
    align-items: center;
    /* align vertical */
}

section.welcome::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 800px;
    background-color: rgba(0, 0, 0, 0.801);
    content: '';
    z-index: 1;
}

/*.background > * {
    z-index: 10;
}*/

div.wc-placeholder {
    text-align: center;
}

h1.titlebanner {
    text-align: center;
    color: #eba622;
    z-index: 10;
    margin: 0;
    position: relative;
    font-family: "Advent Pro Light", sans-serif;
    letter-spacing: 0.25em;
    font-size: 5em;
    font-weight: 200;
    padding: 0.6em;
    border: 1px solid #eba622;
}

a.btn-order-now {
    display: inline-block;
    padding: 0.8em;
    font-size: 1.5em;
    color: white;
    background-color: #eba622;
    border: 1px solid #eba622;
    text-align: center;
    z-index: 10;
    position: relative;
    text-decoration: none;
    margin: 0.9em auto;
    font-family: "ArchivoNarrow Regular", sans-serif;
    font-weight: 200;
    letter-spacing: 0.08em;
    transition: all 0.5s;
}

a.btn-order-now:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: #eba622;
}
section.aboutus{
    width: 100%;
    min-height: 50vh;
    min-height: 400px;
    
}
div.cont-aboutus{
    padding: 0.5em;
}
h3.subheading{
    margin: 0px;
    margin-top: 0.8em;
    font-family: "Barlow Light",sans-serif;
    padding-left:1em;
    font-size: 2.2em;
    color: #252525;
    font-weight: 400;
}
h4.about-us-content{
    font-family: "Buda Light",cursive;
    font-weight: 100;
    font-size: 1.4em;
    padding-left:1.3em;
    padding-right: 1em;
    text-align: justify;
    line-height: 1.2em;
}
section.partners{
    width: 100%;
    height: 50vh;
    min-height: 450px;
    background-color: #e9e9e9;
}
div.cont-parnters{
    height: 100%;
    width: 100%;
}
.ourpartners{
    padding-top: 0.8em;
}
div.partnercontainer{
    padding: 1.5em;
    height: calc(100% - 10em);
}

div.partnerrestro{
    
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* align horizontal */
    align-items: center;
    /* align vertical */
    padding: 1em;
}
div.partnerrestro h3{
    font-family: 'Alegreya Regular';
    font-style: italic;
    color: white;
    font-size: 2.5em;
    font-weight: 100;
    
    
}
.partnerrestro.prblue{
    background-color: #1f4e78;
}
.partnerrestro.prblue{
    background-color: #2a384d;
}
.partnerrestro.prgreen{
    background-color:#395723;
}
.partnerrestro.prdrblue{
    background-color:#333e50;
}
.partnerrestro.prdrgrey{
    background-color:#525252;
}
.partnerrestro.prdrorng{
    background-color:#c55b11;
}
.partnerrestro.prvlt{
    background-color:#7030a0;
}


.swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
/* Welcome component Style end */

/* ----------------------------------------- */

/* Restaurant Componenet Style begin */
section.restaurantsmain {
    width: 100%;
    height: 75vh;
    min-height: 500px;
    background-image: url('/content/images/breakfast-690128_1920.jpg');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    /* align horizontal */
    align-items: center;
    /* align vertical */
}

section.restaurantsmain::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75vh;
    min-height: 500px;
    background-color: rgba(0, 0, 0, 0.85);
    content: '';
    z-index: 1;
}

div.rest-placeholder {
    text-align: center;
}

h1.titlebanner-rest {
    text-align: center;
    color: #eba622;
    z-index: 10;
    margin: 0;
    position: relative;
    font-family: 'Courgette Regular','cursive';
    font-size: 4em;
    font-weight: 200;
    padding : 0.1em;
}
h3.subtitlebanner-rest {
    text-align: center;
    color: #f5f5f5ab;
    z-index: 10;
    margin: 0;
    position: relative;
    font-family: 'Courgette Regular','cursive';
    letter-spacing: 0.05em;
    font-size: 2em;
    font-weight: 50;

}
section.restaurantslists {
    width:100%;

}
h3.rest-list-subheading {
    margin: 0px;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    text-align: center;
    font-family: "Barlow Light",sans-serif;
    font-size: 2.2em;
    color: #252525;
    font-weight: 400;
}
div.rest-list-row {
    width: 100%;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

div.rest-list-col {
    width: 320px;
    padding: 5px;
    flex-grow: 0;
    /* float: left; */
}
div.filling-empty-space{
    width: 320px;
    height: 0;
}
div.restdetailscontainer{
    background-color: #e6e6e6;
    width: 100%;
    height: 300px;
    padding: 10px;
    border: 1px #ccc solid;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;

}

div.restaurantbanner {
    background-color: #a09530;
    width: 100%;
    height: 60%;
    align-items: center;
    text-align: center;
    font-family: 'Alegreya Regular';
    color:white;
    font-size: 2.5em;
    font-weight: 100;
}
div.rest-detail-col{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.restaurantname {
    width: 100%;
    text-align: center;
    font-family: "Barlow Light",sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 10px;
}

a.btn-view-menu {
    width: 100%;
    display: inline-block;
    padding: 0.8em;
    color: #252525f1;
    text-align: center;
    text-decoration: none;
    font-family: "ArchivoNarrow Regular", sans-serif;
    letter-spacing: 0.08em;
    font-weight: 100;
    border: 1px solid #3b3a39a8;
    position: relative;
    transition: all 0.5s;
}

a.btn-view-menu:hover {
    background-color: rgba(0, 0, 0, 0.788);
    color: #ececec;
}

@media screen and (max-width : 700px){

    section.restaurantsmain {
        width: 100%;
        height: 60vh;
        min-height: 300px;
        background-image: url('/content/images/breakfast-690128_1920.jpg');
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: center;
        /* align horizontal */
        align-items: center;
        /* align vertical */
    }
    
    section.restaurantsmain::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 60vh;
        min-height: 300px;
        background-color: rgba(0, 0, 0, 0.85);
        content: '';
        z-index: 1;
    }

    h1.titlebanner-rest {
        font-size: 3em;
        font-weight: 150;
        padding : 0.1em;
    }
    
    h3.subtitlebanner-rest {  
        font-size: 1.5em;
        font-weight: 25;
    }
    div.rest-list-row {
        width: 100%;
        height: auto;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    div.rest-list-col {
        width: 100%;
        height: 150px;
        margin-bottom:  10px;
        margin-bottom: 10px;
        flex-grow : 0;
        /* float: left; */
    }

    div.restdetailscontainer{
        background-color: #e6e6e6;
        width: 100%;
        height: 150px;
        padding: 10px;
        border: 1px #ccc solid;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
    }
    div.restaurantbanner {
        background-color: #a09530;
        display: block;
        width: 200px;
        height: 140px;
        align-items: center;
        text-align: center;
        font-family: 'Alegreya Regular';
        color:white;
        font-size: 1.4em;
        font-weight: 100;
    }

    div.rest-detail-col{
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 5px;
    }

    a.btn-view-menu {
        width: 100%;
        display: inline-block;
        padding: 0.8em;
        color: #252525f1;
        text-align: center;
        text-decoration: none;
        font-family: "ArchivoNarrow Regular", sans-serif;
        letter-spacing: 0.08em;
        font-weight: 100;
        border: 1px solid #3b3a39a8;
        position: relative;
        transition: all 0.5s;
    }

    div.filling-empty-space{
        flex-basis: 0;
        height: 0;
    }
}

/* Restaurant Componenet Style end */

/* --------------------------------------- */

/* Cart Component style begin */
section.cartbannar {
    width: 100%;
    height: 40vh;
    min-height: 300px;
    background-image: url(/content/images/coffee-2425294_1920.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.cartbannar::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40vh;
    min-height: 300px;
    background-color: rgba(0, 0, 0, 0.774);
    content: '';
    z-index: 1;
}

div.cart-placeholder {
    text-align: center;
}

h1.cart-title {
    text-align: center;
    color: #eba622;
    z-index: 10;
    margin: 0;
    position: relative;
    font-family: 'Courgette Regular','cursive';
    font-size: 4em;
    font-weight: 200;
    padding : 0.1em;

}
section.cartcontent {
    width: 100%;
    height: auto;
}

h3.cart-subheading{
    margin: 0px;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    text-align: center;
    font-family: "Barlow Light",sans-serif;
    font-size: 2.2em;
    color: #252525;
    font-weight: 400;
}

div.cart-item-placeholder {
    background-color: #ffffff;
    width: 60%;
    min-height: 40%;
    padding: 10px;
    border : 1px #ccc solid;
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    flex-direction: column;
}

div.cart-items-withrest {
    margin: 5px 10px; 
    font-family: "Barlow Light",sans-serif;

}
p.cart-rest-name {
    font-weight: 600;
    margin: 0;
    text-decoration: none;
}
div.cart-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0px;
}
p.cart-item-name {
    font-weight: 400;
    margin: auto 5px;
    width: 60%;
    font-size: 1.5em;

}
div.item-qtycontainer{
    display: flex;
    margin : auto;
    text-align: center;
    align-content: center;
    font-size: 1.2em;
}
p.item-qty{
    margin: 0;
    height: 35px;
    width: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: green;
    color: white;

    /* border-radius: 3px; */
}
p.cart-item-amount{
    font-weight: 400;
    font-size: 1.5em;
    margin: auto 5px;
}
button.buttonminus {
    height: 35px;
    width: 35px;
    background-color: white;
    color: rgba(0, 128, 0, 0.712);
    border: 2px green solid;
    /* border-radius: 3px; */
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    /* margin: 0px 3px; */
    /* transition: all 0.5s; */
    padding: 0;
    text-align: center;
    font-size: 16px;
}

button.buttonplus {
    height: 35px;
    width: 35px;
    background-color: white;
    color: rgba(0, 128, 0, 0.712);
    border: 2px green solid;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    /* border-radius: 3px; */
    /* margin: 0px 3px; */
    transition: all 0.5s;
    padding: 0;
    text-align: center;
    font-size: 16px;
}

/* button.buttonminus:hover{
    background-color: rgba(255, 0, 0, 0.781);
    color: white;
}

button.buttonplus:hover {
    background-color: rgba(0, 128, 0, 0.822);
    color: white;
} */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.281);
    margin: 1em 0 0 0;
    padding: 0;
}

div.cart-total {
    margin: 5px 10px; 
    font-family: "Barlow Light",sans-serif;
}

div.cart-fil-emptyspace{
    width: 60%;
    height: 0;
}
p.cart-deliverycharge{
    font-size: 1em;
    margin: 0;
    font-weight: 400;

}

p.cart-deliveryamt{
    font-size: 1em;
    margin : 0;
    font-weight: 400;
}

p.cart-totaldesc{
    font-weight: 400;
    font-size: 1.6em;
}
/* div.cart-totalcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0px;
    font-size: 1.5em;
} */

div.cart-orderplace{
    width: 100%;
    height: 80px;
    display: inline-block;
    background-color: #212121fa;
    color: #eba622;
    text-align: center;
    font-family: 'Courgette Regular','cursive';
    font-size: 2em;
    font-weight: 400;
    margin: auto;
    padding: 0.6em;

}
/* Cart Componenet Style end */

/* --------------------------------------- */

/* Menu Component style begin */

section.restmenumain {
    width: 100%;
    height: 60vh;
    min-height: 400px;
    background-image: url('/content/images/breakfast-690128_1920.jpg');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: left;
    align-items: flex-end;
}

section.restmenumain::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    min-height: 400px;
    background-color: rgba(0, 0, 0, 0.801);
    content: '';
    z-index: 1;
}

div.menu-bannerplaceholder { 
    display: flex;
    justify-content: left;
    margin: 30px 40px;
    z-index: 10;
}

div.rest-image-holder{
    position: relative;
    border: 5px solid #fff;
    background-color: #fff;
    border-radius: 4px;

}
img.menu-rest-banner {

    display: block;
    border-radius: 4px;
    width: 220px;
    height: 220px;
}

div.rest-rating-placeholder{
    position: absolute;
    top: 0;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.726);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    opacity: 0;
    transition: .5s ease;
    padding: 8px;
  
}

div.rest-rating-placeholder:hover {
    opacity: 1;
}

div.rest-rating{
    color: #eba522cb;
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 0.2em;
}
div.rest-rating-num {
    letter-spacing: 0;
    font-family: 'Alegreya Regular';
    font-size: 1.5em;
}
div.menu-rest-details {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    color: #FFF3E0;
    margin-left: 20px;
    margin-bottom: 20px;
    font-family: "Barlow Light", sans-serif;
    
}

h3.rest-name-heading{
    margin: 0;
    font-size: 3em;
    font-weight: 700;
}

p.rest-name-addrs{
    margin: 5px 0;;
    font-size: 0.8em;
}

p.rest-name-detail {
    margin : 0;
    margin-top: 10px;
}
p.rest-name-time{
    margin: 0;
    font-size: 1.2em;
    font-weight: 500;
}
section.menu-placeholder {
    width: 100%;
    height: 100vh;
    font-family: "Barlow Light", sans-serif;
}

h3.rest-meu-subheading{
    margin: 0.8em 0;
    text-align: center;
    font-family: "Barlow Light",sans-serif;
    font-size: 2.2em;
    color: #252525;
    font-weight: 400;
}

img.foodsymbol{
    width: 25px;
    height: 25px;
}
div.rest-menu-placeholder{
    background-color: #ffffff;
    width: 70%;
    min-height: 40%;
    padding: 10px;
    border : 1px #ccc solid;
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

div.menu-item {
    width: 100%;
    height: auto;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

div.menu-item-details {
    display: flex;
    flex-direction: row;
    flex-basis: 60%;
}

h4.menu-name{
    margin: 0;
    font-size: 1.4em;
    font-weight: 500; 
}

p.menu-info{
    margin: 5px ;
    font-size: 0.8em;
}

div.menu-item-price{
    display: flex;
    justify-content: space-between;
    flex-basis: 40%;
    margin: 0 20px;
    align-items: center;
    font-size: 1.2em;
}
p.menu-price {
    margin: 0;
}
button.btn-addto-cart {
    width: 105px;
    height: 35px;;
    padding: 0 20px;
    border-radius: 4px;
    background-color: white;
    border: 2px solid green;
    color:  green;
    font-weight: 700;
    transition: all 0.5s;
}

button.btn-addto-cart:hover{
    color: white;
    background-color: green;
}